# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Electron / macOS
.DS_Store
/dist
/build
/.cache
/out

# Editor
.vscode/
.idea/

# Misc
.env
thread.md

# OS
.DS_Store
Thumbs.db
